<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valueservice.djs.db.dao.advertisement.AdvertisementTypeDOMapper">
  <resultMap id="BaseResultMap" type="com.valueservice.djs.db.entity.advertisement.AdvertisementTypeDO">
    <id column="advertisement_type_id" jdbcType="INTEGER" property="advertisementTypeId" />
    <result column="advertisement_type_desc" jdbcType="VARCHAR" property="advertisementTypeDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    advertisement_type_id, advertisement_type_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_b_advertisement_type
    where advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_b_advertisement_type
    where advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementTypeDO">
    insert into t_b_advertisement_type (advertisement_type_id, advertisement_type_desc
      )
    values (#{advertisementTypeId,jdbcType=INTEGER}, #{advertisementTypeDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementTypeDO">
    insert into t_b_advertisement_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advertisementTypeId != null">
        advertisement_type_id,
      </if>
      <if test="advertisementTypeDesc != null">
        advertisement_type_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advertisementTypeId != null">
        #{advertisementTypeId,jdbcType=INTEGER},
      </if>
      <if test="advertisementTypeDesc != null">
        #{advertisementTypeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementTypeDO">
    update t_b_advertisement_type
    <set>
      <if test="advertisementTypeDesc != null">
        advertisement_type_desc = #{advertisementTypeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementTypeDO">
    update t_b_advertisement_type
    set advertisement_type_desc = #{advertisementTypeDesc,jdbcType=VARCHAR}
    where advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select * from t_b_advertisement_type
  </select>

</mapper>