<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valueservice.djs.db.dao.advertisement.AdvertisementDOMapper">
  <resultMap id="BaseResultMap" type="com.valueservice.djs.db.entity.advertisement.AdvertisementDO">
    <id column="advertisement_id" jdbcType="INTEGER" property="advertisementId" />
    <result column="advertisement_type_id" jdbcType="INTEGER" property="advertisementTypeId" />
    <result column="lecturer_id" jdbcType="INTEGER" property="lecturerId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="advertisement_url" jdbcType="VARCHAR" property="advertisementUrl" />
    <result column="advertisement_img_path" jdbcType="VARCHAR" property="advertisementImgPath" />
    <result column="advertisement_title" jdbcType="VARCHAR" property="advertisementTitle" />
    <result column="advertisement_desc" jdbcType="VARCHAR" property="advertisementDesc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="invalid_date" jdbcType="TIMESTAMP" property="invalidDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    advertisement_id, advertisement_type_id, lecturer_id, room_id, advertisement_url, 
    advertisement_img_path, advertisement_title, advertisement_desc, status, invalid_date, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_b_advertisement
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_b_advertisement
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementDO">
    insert into t_b_advertisement (advertisement_id, advertisement_type_id, 
      lecturer_id, room_id, advertisement_url, 
      advertisement_img_path, advertisement_title, 
      advertisement_desc, status, invalid_date, 
      create_time, update_time)
    values (#{advertisementId,jdbcType=INTEGER}, #{advertisementTypeId,jdbcType=INTEGER}, 
      #{lecturerId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{advertisementUrl,jdbcType=VARCHAR}, 
      #{advertisementImgPath,jdbcType=VARCHAR}, #{advertisementTitle,jdbcType=VARCHAR}, 
      #{advertisementDesc,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{invalidDate,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementDO">
    insert into t_b_advertisement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advertisementId != null">
        advertisement_id,
      </if>
      <if test="advertisementTypeId != null">
        advertisement_type_id,
      </if>
      <if test="lecturerId != null">
        lecturer_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="advertisementUrl != null">
        advertisement_url,
      </if>
      <if test="advertisementImgPath != null">
        advertisement_img_path,
      </if>
      <if test="advertisementTitle != null">
        advertisement_title,
      </if>
      <if test="advertisementDesc != null">
        advertisement_desc,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invalidDate != null">
        invalid_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advertisementId != null">
        #{advertisementId,jdbcType=INTEGER},
      </if>
      <if test="advertisementTypeId != null">
        #{advertisementTypeId,jdbcType=INTEGER},
      </if>
      <if test="lecturerId != null">
        #{lecturerId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="advertisementUrl != null">
        #{advertisementUrl,jdbcType=VARCHAR},
      </if>
      <if test="advertisementImgPath != null">
        #{advertisementImgPath,jdbcType=VARCHAR},
      </if>
      <if test="advertisementTitle != null">
        #{advertisementTitle,jdbcType=VARCHAR},
      </if>
      <if test="advertisementDesc != null">
        #{advertisementDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="invalidDate != null">
        #{invalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementDO">
    update t_b_advertisement
    <set>
      <if test="advertisementTypeId != null">
        advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER},
      </if>
      <if test="lecturerId != null">
        lecturer_id = #{lecturerId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="advertisementUrl != null">
        advertisement_url = #{advertisementUrl,jdbcType=VARCHAR},
      </if>
      <if test="advertisementImgPath != null">
        advertisement_img_path = #{advertisementImgPath,jdbcType=VARCHAR},
      </if>
      <if test="advertisementTitle != null">
        advertisement_title = #{advertisementTitle,jdbcType=VARCHAR},
      </if>
      <if test="advertisementDesc != null">
        advertisement_desc = #{advertisementDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="invalidDate != null">
        invalid_date = #{invalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.valueservice.djs.db.entity.advertisement.AdvertisementDO">
    update t_b_advertisement
    set advertisement_type_id = #{advertisementTypeId,jdbcType=INTEGER},
      lecturer_id = #{lecturerId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      advertisement_url = #{advertisementUrl,jdbcType=VARCHAR},
      advertisement_img_path = #{advertisementImgPath,jdbcType=VARCHAR},
      advertisement_title = #{advertisementTitle,jdbcType=VARCHAR},
      advertisement_desc = #{advertisementDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      invalid_date = #{invalidDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where advertisement_id = #{advertisementId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" >
    select * from t_b_advertisement where status != 0
  </select>

</mapper>