<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valueservice.djs.db.dao.payment.EnterprisePayDOMapper">
  <resultMap id="BaseResultMap" type="com.valueservice.djs.db.entity.payment.EnterprisePayDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mch_appid" jdbcType="VARCHAR" property="mchAppid" />
    <result column="mchid" jdbcType="VARCHAR" property="mchid" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="partner_trade_no" jdbcType="VARCHAR" property="partnerTradeNo" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="check_name" jdbcType="VARCHAR" property="checkName" />
    <result column="re_user_name" jdbcType="VARCHAR" property="reUserName" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="spbill_create_ip" jdbcType="VARCHAR" property="spbillCreateIp" />
    <result column="cmms_amt" jdbcType="INTEGER" property="cmmsAmt"/>
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="payment_no" jdbcType="VARCHAR" property="paymentNo" />
    <result column="payment_time" jdbcType="VARCHAR" property="paymentTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mch_appid, mchid, nonce_str, sign, partner_trade_no, openid, check_name, re_user_name, 
    amount, desc, spbill_create_ip, cmms_amt, result_code, err_code, err_code_des, payment_no,
    payment_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_b_enterprise_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_b_enterprise_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.valueservice.djs.db.entity.payment.EnterprisePayDO">
    insert into t_b_enterprise_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mchAppid != null">
        mch_appid,
      </if>
      <if test="mchid != null">
        mchid,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="partnerTradeNo != null">
        partner_trade_no,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="reUserName != null">
        re_user_name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="spbillCreateIp != null">
        spbill_create_ip,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="paymentNo != null">
        payment_no,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mchAppid != null">
        #{mchAppid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null">
        #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="partnerTradeNo != null">
        #{partnerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="reUserName != null">
        #{reUserName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="spbillCreateIp != null">
        #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=INTEGER},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.valueservice.djs.db.entity.payment.EnterprisePayDO">
    update t_b_enterprise_pay
    <set>
      <if test="mchAppid != null">
        mch_appid = #{mchAppid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null">
        mchid = #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="partnerTradeNo != null">
        partner_trade_no = #{partnerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="reUserName != null">
        re_user_name = #{reUserName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="spbillCreateIp != null">
        spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=INTEGER},
      </if>
      <if test="resultCode != null">
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        payment_no = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>