<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valueservice.djs.db.dao.payment.PayResultDOMapper">
  <resultMap id="BaseResultMap" type="com.valueservice.djs.db.entity.payment.PayResultDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unified_info_id" jdbcType="INTEGER" property="unifiedInfoId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="total_fee" jdbcType="VARCHAR" property="totalFee" />
    <result column="cash_fee" jdbcType="VARCHAR" property="cashFee" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="time_end" jdbcType="VARCHAR" property="timeEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unified_info_id, nonce_str, sign, result_code, err_code, err_code_des, openid, 
    trade_type, bank_type, total_fee, cash_fee, transaction_id, out_trade_no, time_end
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_b_pay_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_b_pay_result
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.valueservice.djs.db.entity.payment.PayResultDO">
    insert into t_b_pay_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unifiedInfoId != null">
        unified_info_id,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="bankType != null">
        bank_type,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="cashFee != null">
        cash_fee,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unifiedInfoId != null">
        #{unifiedInfoId,jdbcType=INTEGER},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        #{cashFee,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.valueservice.djs.db.entity.payment.PayResultDO">
    update t_b_pay_result
    <set>
      <if test="unifiedInfoId != null">
        unified_info_id = #{unifiedInfoId,jdbcType=INTEGER},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        cash_fee = #{cashFee,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>