<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valueservice.djs.db.dao.mini.UserVipDOMapper">
  <resultMap id="BaseResultMap" type="com.valueservice.djs.db.entity.mini.UserVipDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vip_name" jdbcType="VARCHAR" property="vipName" />
    <result column="valid_day" jdbcType="INTEGER" property="validDay" />
    <result column="open_money" jdbcType="DOUBLE" property="openMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vip_name, valid_day, open_money
  </sql>

  <select id="selectAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_b_user_vip
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_b_user_vip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_b_user_vip
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.valueservice.djs.db.entity.mini.UserVipDO">
    insert into t_b_user_vip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vipName != null">
        vip_name,
      </if>
      <if test="validDay != null">
        valid_day,
      </if>
      <if test="openMoney != null">
        open_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vipName != null">
        #{vipName,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        #{validDay,jdbcType=INTEGER},
      </if>
      <if test="openMoney != null">
        #{openMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.valueservice.djs.db.entity.mini.UserVipDO">
    update t_b_user_vip
    <set>
      <if test="vipName != null">
        vip_name = #{vipName,jdbcType=VARCHAR},
      </if>
      <if test="validDay != null">
        valid_day = #{validDay,jdbcType=INTEGER},
      </if>
      <if test="openMoney != null">
        open_money = #{openMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>